
*{
  /* border: dotted red 1px; */
  box-sizing: border-box;
}

body {
  font-family: 'Sansita', sans-serif;
  background-color: rgb(135,206,250);
  color: rgb(70, 69, 69);
}

header {
  margin-bottom: 50px;
  font: size 15;px;
  font-style:italic;
  border-bottom-color:rgb(8,0,138);
  border-bottom-style:double;
  border-bottom-width: 5px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 5px;
}

h1 {
  color: white;
  /* font-size: 50px; */
  font-size: 350%;
  margin: 30px;
  text-align: center;
}

h2 {
  font-size: 150%;
}


main {
  overflow:hidden;
}

/* section:first-of-type {
  border-bottom-width: 5px;
  border-style: solid;
  border-color: rgb(8,0,138);
} */

section {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  margin-top: 30px;
}
article {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#resetButton {
  font-size: 15px;
  color: white;
  background-color: rgb(8,0,138);
  margin-top: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(8,0,138);
  border-radius: 5px;
  position: absolute;
  right: 30px;
  
}


#voting-message {
  padding-bottom: 10px;
}

#results ul {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(8,0,138);
  margin: 20px;
}

#results li {
  margin: 30px;
}

footer {
  font: size 15;px;
  font-style:italic;
  border-top-color:rgb(8,0,138);
  border-top-style:double;
  border-top-width: 5px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 5px;
}


/* p {
  margin: 30px;
} */

#products ul{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#products li{
  float:left;
  margin-top: 30px;
  width: 30%;
  margin-right: 1%;
  padding-left: 90px;
  

}

#products p {
  padding: 5px;
  font-size: 125%;
}

#products img {
  /* max-height: 200px;*/
  max-width: 200px; 
  height: 200px;
  /* width: 200px; */
  /* width: 25%; */
  margin-bottom: 20px;
}
